<nav class="navbar fixed-top navbar-dark bg-dark">
  <a class="navbar-brand" href="/admin">PANEL DE ADMINISTRACIÓN</a>
</nav>
<div class="content-wrapper" style="padding-top:72px;">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-sm-12 col-xs-12 text-center">
        <app-categories></app-categories>
      </div>
      <div class="col-md-6 col-sm-12 col-xs-12 text-center">
        <app-products></app-products>
      </div>
    </div>
  </div>
  <footer class="sticky-footer">
    <div class="container">
      <div class="text-center">
        <small>Copyright © Mi Panel de Administración 2018</small>
      </div>
    </div>
  </footer>
</div>