<!-- <mat-toolbar color="primary">
  <span>PANEL DE ADMINISTRACIÓN</span>
</mat-toolbar>
<div class="content-wrapper" style="padding-top:72px;">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-sm-12 col-xs-12 text-center">
        <app-categories></app-categories>
      </div>
      <div class="col-md-6 col-sm-12 col-xs-12 text-center">
        <app-products></app-products>
      </div>
    </div>
  </div>
  <footer class="sticky-footer">
    <div class="container">
      <div class="text-center">
        <small>Copyright © Mi Panel de Administración 2018</small>
      </div>
    </div>
  </footer>
</div> -->

<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="example-app-name">PANEL DE ADMINISTRACION</h1>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav opened="true" #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
        <a mat-list-item [routerLink]="['./home']">
          <mat-icon>home</mat-icon>
          &nbsp;&nbsp;Inicio 
        </a>
        <a mat-list-item [routerLink]="['./categories']">
          <mat-icon>description</mat-icon>
          &nbsp;&nbsp;Categorías 
        </a>
        <a mat-list-item [routerLink]="['./products']">
          <mat-icon>shopping_basket</mat-icon>
          &nbsp;&nbsp;Productos
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate neque pariatur, voluptatem soluta numquam illo laborum labore quidem omnis, laboriosam, tempora nulla. Est nemo sed dicta voluptatibus, omnis laborum. Labore.</p> -->
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>


