<mat-card>
	<mat-card-title>
		LISTA DE CATEGORIAS
	</mat-card-title>
</mat-card>


<mat-card>
	<mat-card-content>

		<button mat-raised-button color="primary" (click)="passDataNew()">
    		Nuevo
  		</button>

		<mat-table #table [dataSource]="categoryList">
			<ng-container matColumnDef="url_img">
				<mat-header-cell *matHeaderCellDef> 
					Url
				</mat-header-cell>
				<mat-cell *matCellDef="let category">
					<a href="{{category.url_img}}" target="_blank">{{category.url_img}}</a>
				</mat-cell>
			</ng-container>
			<ng-container matColumnDef="name">
				<mat-header-cell *matHeaderCellDef> 
					Nombre
				</mat-header-cell>
				<mat-cell *matCellDef="let category">
					{{category.name}}
				</mat-cell>
			</ng-container>
			<ng-container matColumnDef="description">
				<mat-header-cell *matHeaderCellDef> 
					Descripción
				</mat-header-cell>
				<mat-cell *matCellDef="let category">
					{{category.description}}
				</mat-cell>
			</ng-container>
			<ng-container matColumnDef="operations">
				<mat-header-cell *matHeaderCellDef>
					Operaciones
				</mat-header-cell>
				<mat-cell *matCellDef="let row">
					<button mat-raised-button mat-icon-button color="primary" (click)="passDataEdit(row)">
    					<mat-icon aria-label="">mode_edit</mat-icon>
  					</button>
					<button mat-raised-button mat-icon-button color="warn" (click)="onDelete(row.$key)">
    					<mat-icon aria-label="">delete</mat-icon>
  					</button>
				</mat-cell>
			</ng-container>

			<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    		<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
		</mat-table>
		<h5 class="text-center" *ngIf="categoryList.length == 0">No data available!!</h5>
	</mat-card-content>
</mat-card>

